@import url('https://fonts.googleapis.com/css?family=Archivo:400,600,700');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    overflow: hidden;
    font-family: 'Archivo', sans-serif;
    color: #555;
    background-size: cover;
    background-position: center;
}

/*--------------általános------------------*/

.clear{
    clear: both;
}

#image-upload{
    display: none;
}

.clickable-icon{
    font-size: 24px;
    color: #b2b2b2;
    display: inline-block;
}
    .clickable-icon:hover{
        cursor: pointer;
        color: #666;
    }
/*-----------általános vége--------------*/

#chat{
    height: 100%;
}

#chat-header{
    width: 100%;
    padding: 5px;
    background: linear-gradient(to bottom, #3fa2c7 0%,#3c94b6 100%);
    color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
    z-index: 300;
}

#chat-header #chat-navigation{
    max-width: 900px;
    margin: 0px auto;
}

#chat-navigation #menu-container{
    float: right;
    position: relative;
}

#menu-container #hamburger-icon{
    font-size: 28px;
    display: block;
}
    #hamburger-icon:hover{
        cursor: pointer;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

#menu-container #main-menu{
    width: 200px;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    list-style: none;
    position: absolute;
    top: 30px;
    right: 0px;
    display: none;
}

#menu-container #main-menu li a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 400;
    color: #333;
}
    #menu-container #main-menu li a:before{
        margin-right: 15px;
    }
    #menu-container #main-menu li a:hover{
        box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
        background: #b2b2b2;
        color: #fff;
        cursor: pointer;
    }

#chat-navigation #user-info{
    float: left;
}

#user-info #user-profile-pic{
    width: 33px;
    height: 33px;
    margin-right: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    vertical-align: middle;
}

#user-info #user-name{
    font-size: 14px;
    font-weight: bold;
}

#chat-box{
    max-width: 900px;
    height: 100%;

    margin: 0px auto;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #b2b2b2;
    border-left: 1px solid #b2b2b2;
    background: rgba(255, 255, 255, 0.2);
}

#section-messages{
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100% - 168px);
}

#section-messages .message-wrapper{
    width: 100%;
    box-sizing: border-box;
    padding: 0px 20px;
    margin-bottom: 30px;
}

#section-messages p{
    text-align: center;
    padding: 30px;
    font-size: 18px;
    color: #33cc96;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.message-wrapper .message-bubble{
    max-width: 500px;
    text-align: justify;
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 5px;
    color: #777;
    white-space: pre-line;
    animation: grow-from-side 200ms;
    animation-fill-mode: forwards;
    position: relative;
}
    .message-bubble:before,
    .message-bubble:after{
        color: #b2b2b2;
        font-size: 12px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        display: none;
    }
    .message-wrapper .message-bubble::first-child{
        margin-top: 0px;
    }
.message-bubble .sticker{
    width: 140px;
    display: block;
    pointer-events: none;
}

.message-bubble .image{
    max-width: 200px;
    max-height: 240px;
    border-radius: 10px;
    display: block;
    margin: 0px -5px;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.2s;
}
    .message-bubble .image:hover{
        transform: scale(1.01);
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
    }

.message-own{ position: relative; }
.message-partner{ position: relative; }

    .message-own .message-bubble{
        float: right;
        background: #3fa2c7;        
        color: #fff;
        transform-origin: right;
        margin-left: auto;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .message-own .message-bubble:before{
        content: attr(data-time);
        left: -40px;
    }
        .message-own .message-bubble:hover:before,
        .message-own .message-bubble:first-child:before{
            display: block;
        }
    /*.message-own:after{
        content: "";
        width: 40px;
        height: 40px;
        border-radius: 5px;
        display: inline-block;
        background-size: cover;
        position: absolute;
        top: 4px;
        right: 10px;
    }*/

    .message-partner .message-bubble{
        float: left;
        background: #D0D0D0;  
        transform-origin: left;
        color: #333;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .message-partner .message-bubble:after{
        content: attr(data-time);
        right: -40px;
    }

        .message-partner .message-bubble:hover:after,
        .message-partner .message-bubble:first-child:after{
            display: block;
        }

    /*.message-partner:before{
        content: "";
        width: 40px;
        height: 40px;
        border-radius: 5px;
        display: inline-block;
        background: url("../img/profile.jpg");
        background-size: cover;
        position: absolute;
        top: 4px;
        left: 10px;
    }*/


#section-inputs{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

#section-inputs #input-icons-container{
    padding: 15px 10px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #b2b2b2;
    margin-bottom: 7px;
}

#input-icons-container .icon-wrapper{
    position: relative;
    width: 10px;
}
    
/*#input-icons-container .icon-wrapper .ion-android-happy:after{
    content: "";
    width: 0; 
    height: 0; 
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid #b2b2b2;
    position: absolute;
    top: -18px;
    left: -4px;
    z-index: 120;
    display: none;
}*/

.icon-wrapper .popup-panel{
    width: 230px;
    height: 300px;
    padding: 10px 0px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #b2b2b2;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
    text-align: center;
    position: absolute;
    z-index: 120;
    left: 0px;
    bottom: 40px;
    transform-origin: bottom left;
    transform: scale(0);
}

.icon-wrapper .emoji-panel,
.icon-wrapper .sticker-panel{
    overflow-y: scroll;
    overflow-x: hidden;
}

.sticker-panel #tab-indexes{
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #333;
}

#tab-indexes li{
    float: left;
    list-style: none;
    width: 40px;
    height: 40px;
    border: 1px solid #b2b2b2;
    border-radius: 50%;
    cursor: pointer;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
    #tab-indexes li:hover{
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    }
    #tab-indexes li:first-child{
        background-image: url("../stickers/mouth_thumb.png");
    }
    #tab-indexes li:nth-child(2){
        background-image: url("../stickers/face_thumb.png");
    }
    #tab-indexes li:nth-child(3){
        background-image: url("../stickers/text_thumb.png");
    }
    #tab-indexes li:nth-child(4){
        background-image: url("../stickers/emoji_thumb.png");
    }

.sticker-panel .sticker-tab{
    display: none;
    padding-bottom: 15px;
}

.sticker-panel .active-tab{
    display: block;
}

.emoji-panel .emoji-icon{
    display: inline-block;
    font-size: 22px;
    padding: 6px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s;
}
    .emoji-panel .emoji-icon:hover{
        transform: scale(1.3);
    }

.sticker-panel .sticker-icon{
    display: inline-block;
    width: 70px;
    margin: 10px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s;
}
    .sticker-panel .sticker-icon:hover{
        transform: scale(1.3);
    }

#section-inputs #textfield-container{
    width: 100%;
    z-index: 100;
    display: flex;
}

#textfield-container #textfield{
    flex: 1;
    padding: 8px;
    font-size: 16px;
    color: #b2b2b2;
}

#textfield-container #send-icon{
    padding: 10px 15px;
} 